<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="k.s.yarlykov.materialdesign">

    <application
            android:name=".application.MaterialDesignApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.lesson4.ContentSelectionActivity"
                android:label="@string/title_activity_content_selection"
                android:theme="@style/AppThemeL4"
                android:parentActivityName=".ui.lesson2.AuthorizationActivity">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="k.s.yarlykov.materialdesign.ui.lesson2.AuthorizationActivity"/>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.lesson1.LessonOneActivity"/>
        <activity android:name=".ui.lesson2.AuthorizationActivity"/>
        <activity android:name=".ui.lesson2.BottomSheetActivity"/>
        <activity android:name=".ui.lesson3.ToolbarActivityL3"/>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>